@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');

body{
    font-family: 'Oswald', sans-serif;
    display:flex;
    justify-content: center;
    
    
}

.playlist{
    width: 400px;
    height: 800px;
    background-color: #F93822FF;
    border:5px solid #FDD20EFF;
    padding:50px 30px;
    
}

.status-bar{
    display:flex;
    font-size: 30px;
    padding-bottom:40px;
}
.status-bar__column{
    width: 33.3%;
}

.now-playing{
    display:flex;
    margin-bottom: 50px;
}

.now-playing__album-photo{
    height: 140px;
    width:35%;
    border-radius: 20%;
    background-color: #e5ff0b;
    border:5px solid wheat;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right:20px;
}

.now-playing__album-title-big{
    font-size:35px;
    font-weight: 500;
}

.now-playing__album-title-sm{
    font-size:20px;
}

.play-buttons{
    display:flex;
}

.play-buttons__play{
    width: 48%;
    height:70px;
    font-size: 25px;
    border-radius: 15%;
    background-color: #FDD20EFF;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
    border:3px solid black;
    border-bottom:5px solid black;
}

.play-buttons__play span{
    padding-left:20px;
}

.play-buttons__like{
    background-color: #FDD20EFF;
    height:70px; 
    width: 70px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
    border:3px solid black;
    border-bottom:5px solid black;
}

.play-buttons__add{
    background-color: #FDD20EFF;
    height:70px; 
    width: 70px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    border:3px solid black;
    border-bottom:5px solid black;
}

.next-list{
    padding-top: 50px;
}

.next-list__num{
    padding-bottom:40px;
    display: flex;
}

.next-list__num-photo{
    height: 65px;
    width:15%;
    border-radius: 20%;
    border:3px solid wheat;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right:20px;
}

.next-list__num:nth-child(1) .next-list__num-photo{
    background-color: #669DB3FF;
}

.next-list__num:nth-child(2) .next-list__num-photo{
    background-color: #6DAC4FFF;
}
.next-list__num:nth-child(3) .next-list__num-photo{
    background-color: #FF4F58FF;
}

.next-list__num:nth-child(4) .next-list__num-photo{
    background-color: #F3DB74FF;
}


.next-list__num-info{
    width:70%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.next-list__num-title{
    font-size: 20px;
}

.next-list__num-singer{
    font-weight:200;
    font-size:15px;
}